<div class="row header">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <div class="logo">
          <b> {{ '{&nbsp;&nbsp;}' }} Utility</b> Tools
        </div>
        <div class="quote">
          <span>[ &nbsp;Everything @ one place &nbsp;]</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <ul class="menu">
      <li>
        <a href="https://github.com/mukeshdutt/utility-tools" target="_blank">github.com</a>
      </li>
      <li>
        <a>why utility tools</a>
      </li>
    </ul>
  </div>
</div>