<div class="col-md-10">
  <form #formdata="ngForm">
    <div class="body">
      <br>
      <h3>URI Encoder/Decoder</h3>
      <br>
      <div>
        <h5>Input</h5>
        <textarea name="input" class="form-control" id="input" placeholder="Enter URI to encode or decode..." cols="20" rows="5"
          ngModel></textarea>
      </div>
      <br>
      <div>
        <h5>Result</h5>
        <textarea class="form-control" cols="20" rows="5" placeholder="Result will be here..." [(ngModel)]="data.resultText" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <br>
      <input type="button" class="btn btn-primary" value="Encode" (click)="simpleToEncodedUrl(formdata)">
      <input type="button" class="btn btn-primary" value="Decode" (click)="encodedToSimpleUrl(formdata)">
      <br>
    </div>
  </form>
</div>