<form #form="ngForm">
  <div class="col-md-7">
    <p class="utility-heading">HTML Encoding</p>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li id="nav-tab-head-1" class="active">
          <a href="#tab_1" data-toggle="tab">Input Text</a>
        </li>
        <li id="nav-tab-head-2">
          <a href="#tab_2" data-toggle="tab">Result Text</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <textarea name="input" class="form-control" placeholder="Enter HTML Text for encoded or decoded..." id="input" cols="20"
          rows="18" [ngModel]="defaultInput" required></textarea>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
          <textarea class="form-control" cols="20" rows="18" placeholder="Here will be the expected result..." 
          [(ngModel)]="resultText" [ngModelOptions]="{standalone:true}"></textarea>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
  </div>

  <div class="col-md-3">

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Actions</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <input type="button" [disabled]="!form.valid" class="btn btn-primary" value="Encode" (click)="encodeHTML(form)">
        <input type="button" [disabled]="!form.valid" class="btn btn-primary" value="Decode" (click)="decodeHTML(form)">
        <hr>
        <button type="submit" class="btn btn-info" (click)="setDefaultValue()">Sample HTML</button>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</form>