<form #form="ngForm">
    <div class="col-md-7">
        <p class="utility-heading">SHA Hashing</p>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li id="nav-tab-head-1" class="active">
                    <a href="#tab_1" data-toggle="tab">Input Text</a>
                </li>
                <li id="nav-tab-head-2">
                    <a href="#tab_2" data-toggle="tab">Result Text</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <textarea name="input" class="form-control" placeholder="Enter plain text and select SHA mode for hash..." id="input" cols="20" rows="18" ngModel required></textarea>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <textarea name="result" placeholder="Here will be the expected result..." class="form-control" id="result" cols="20" rows="18" [(ngModel)]="resultText"
                        [ngModelOptions]="{standalone: true}"></textarea>
                </div>
            </div>
            <!-- /.tab-content -->
            <div *ngIf="errorText" class="alert alert-danger">
                <button type="button" class="close" (click)="closeAlert()">×</button>
                <h4>
                    <i class="icon fa fa-ban"></i> Alert!</h4>
                <br>
                <p>{{ errorText }}</p>
            </div>
            <!-- / error message -->
            
        </div>

    </div>

    <div class="col-md-3">

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Options</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-body options">
                    <div class="form-group">
                        <label for="mode">Hashing Mode</label>
                        <select name="mode" id="mode" class="form-control" [ngModel]="defaultMode">
                            <option *ngFor="let item of modes" value="{{ item.modeValue }}">{{ item.modeText }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Actions</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="getSHAHashed(form)">Make SHA</button>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</form>