<form #form="ngForm">
  <div class="col-md-7">
    <p class="utility-heading">JSON Formatter</p>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li id="nav-tab-head-1" class="active">
          <a href="#tab_1" data-toggle="tab">Input Text</a>
        </li>
        <li id="nav-tab-head-2">
          <a href="#tab_2" data-toggle="tab">Result Text</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <textarea name="input" class="form-control" placeholder="Enter JSON and select action what you want to do..." id="input" cols="20" rows="18" [ngModel]="defulatInput" required></textarea>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
          <textarea name="result" placeholder="Here will be the expected JSON..." class="form-control" id="result" cols="20" rows="18" [(ngModel)]="resultText"
            [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>

    <div *ngIf="errorText" class="alert alert-danger">
        <button type="button" class="close" (click)="closeAlert()">×</button>
        <h4>
            <i class="icon fa fa-ban"></i> Alert!</h4>
        <br>
        <p>{{ errorText }}</p>
    </div>
    <!-- / error message -->

  </div>

  <div class="col-md-3">

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Actions</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" onclick="alert('This Feature will be introduce soon..')">Validate</button>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="makeBeautify(form)">Beautify</button>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="makeMinify(form)">Minify</button>
        <hr>
        <button type="submit" class="btn btn-info" (click)="setDefaultText()">Sample JSON</button>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</form>