<form #formdata="ngForm">
  <div class="col-md-7">
    <h3>Base64 Encoding</h3>
    <hr>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li>
          <a href="#tab_1" data-toggle="tab">Input Text</a>
        </li>
        <li class="active">
          <a href="#tab_2" data-toggle="tab">Result Text</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="tab_1">
          <textarea name="input" class="form-control" placeholder="Enter text to encode or decode the string..." id="input" cols="20"
          rows="5" ngModel></textarea>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane active" id="tab_2">
          <textarea name="result" placeholder="Here will be the result..." class="form-control" id="result" cols="20" rows="5" [(ngModel)]="data.resultText"
          [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
  </div>

  <div class="col-md-3">

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Options</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body text-center">
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Actions</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <button type="submit" class="btn btn-primary" (click)="stringToBase64(formdata)">Encode</button>
        <button type="submit" class="btn btn-primary" (click)="base64ToString(formdata)">Decode</button>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</form>