<div class="col-md-10">

  <form #formdata="ngForm">
    <div class="body">
      <br>
      <h2>XML Formatter</h2>
      <br>
      <div>
        <h3>Input</h3>
        <textarea name="input" class="form-control" placeholder="Enter ugly XML for beautify..." id="input" cols="20" rows="5" ngModel></textarea>
      </div>
      <br>
      <div>
        <h3>Result</h3>
        <textarea name="result" placeholder="Here will be the result..." class="form-control" id="result" cols="20" rows="5" [(ngModel)]="data.resultText"
          [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <br>
      <button type="submit" class="btn btn-primary" (click)="makeBeautify(formdata)">Beautify</button>
      <button type="submit" class="btn btn-primary" (click)="makeMinify(formdata)">Minify</button>
      <br>
    </div>
  </form>

</div>