<div class="col-md-2">
  <div class="box box-solid" style="font-size: 12px">
    <div class="box-body no-padding utilities-menu">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a [routerLink]="['/xml-formatter']">XML Beautifier</a>
        </li>
        <li>
          <a [routerLink]="['/json-formatter']">JSON Beautifier</a>
        </li>
        <li>
          <a [routerLink]="['/xml2json']">XML To JSON</a>
        </li>
        <li>
          <a [routerLink]="['/json2xml']">JSON To XML</a>
        </li>
        <li>
          <a [routerLink]="['/md5-hashing']">MD5 Hashing</a>
        </li>
        <li>
          <a [routerLink]="['/sha-hashing']">SHA Hashing</a>
        </li>
        <li>
          <a [routerLink]="['/hmac-hashing']">HMAC Hashing</a>
        </li>
        <li>
          <a [routerLink]="['/base64']">Base64 Encoding</a>
        </li>
        <li>
          <a [routerLink]="['/url']">URL Encoding</a>
        </li>
        <li>
          <a [routerLink]="['/html']">HTML Encoding</a>
        </li>
        <li>
          <a onclick="alert('This feature will be introduce very soon..')">More...</a>
        </li>
      </ul>
    </div>
    <!-- /.box-body -->
  </div>
</div>